body {
	background-color: #DFE3E9;
	background-attachment: fixed;
	background-image: url(../images/logoGM.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	scrollBar-face-color: #BFC7D2;
	scrollBar-highLight-color: #BFC7D2;
	scrollBar-shadow-color: #BFC7D2;
	scrollBar-3DLight-color: #000000;
	scrollBar-arrow-color: #BFC7D2;
	scrollBar-track-color: #DFE3E9;
	scrollBar-darkShadow-color: #000000;
}

a:link {
	text-decoration: none;
	color: #000000;
}

a:visited {
	text-decoration: none;
	color: 000000;
}

a:hover {
	text-decoration: underline;
	color: #A3B8CC;
}

a:active {
	text-decoration: none;
	color: #7F8EA5;
}

th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-color: #BFC7D2;
	border: 1px solid #000000;
	SCROLLBAR-FACE-COLOR: #dee3e7; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #dee3e7; SCROLLBAR-3DLIGHT-COLOR: #d1d7dc; SCROLLBAR-ARROW-COLOR: #006699; SCROLLBAR-TRACK-COLOR: #efefef; SCROLLBAR-DARKSHADOW-COLOR: #98aab1;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #EFF1F4;
	border: 1px solid #7F8EA5;
}

input, .input, textArea, select, hr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	background-color: #BFC7D2;
	border: 1px solid #000000;
	cursor: hand;
}

fieldSet {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	width: 400px;
	border: 1px solid #7F8EA5;
	cursor: hand;
}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
}

label, .text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.comment {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 6px;
}

.hide {
	overflow: hidden;
	visibility: hidden;
}